.<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type='text/javascript'>

			

			function writeFile(){
				document.write('<h1>Welcome to my JS page</h1>');
			}


// consult this one: http://stackoverflow.com/questions/1085801/get-selected-value-in-dropdown-list-using-javascript

/*function acmeReferenceError (valueExists){


	'use strict';

	if (undefined == valueExists) {

	$("#save-btn").click(function() {
  	var blob = new Blob(["test text"], {type: "text/plain;charset=utf-8"});
  	saveAs(blob, "testfile1.txt");
	});

	} else {

	$("#save-btn").click(function() {
  	var blob = new Blob(["test text"], {type: "text/plain;charset=utf-8"});
  	saveAs(blob, "testfile1.txt");
	});
	}
}*/

			// this doesn't work 
			$("#save-btn").click(function() {
			  	var blob = new Blob(["test text"], {type: "text/plain;charset=utf-8"});
			  	saveAs(blob, "testfile1.txt");
				});




//could use this syntax to be getting the input of the form for my autocomplete functionality.
			function outputname(){
			var x,y,name;
			x = document.getElementById("form1");
			y = x.elements["name"].value;
			document.write("Hello "+y+"<br>");

			document.write(y + " is a great Ph.D. student!! <br>");

			}

		</script>
	</head>


	<body>


		<form id = "form2">
		 <button class="right" type="button" onclick="writeFile()">press me!</button>
		 <input type="button" id="save-btn" value="Save Text file">
		</form>

		<form id = "form1">
			Name: <input name = "name" type = "text" size= "20">
		</form>

		<button onclick="outputname()">Submit!!</button>

		<!--form to submit the information from the web-from-->
<!--
this will not be needed in the end, I can do the web form submission within the Drupal framework
I need to link the /myaction to a functionality in the server
-->
		<div id="contact">
		    <h1>Send an email</h1>
		    <form action="/myaction" method="post">
		        <fieldset>
		            <label for="name">Name:</label>
		            <input type="text" id="name" name="name" placeholder="Enter your full name" />

		            <label for="email">Email:</label>
		            <input type="email" id="email" placeholder="Enter your email address" />

		            <label for="message">Message:</label>
		            <textarea id="message" placeholder="What's on your mind?"></textarea>

		            <input type="submit" value="Send message" />

		        </fieldset>
    		</form>
		</div>

	</body>

</html>