div.d3-tip, #generic_tooltip {
font-family: Arial,Helvetica,sans-serif;
font-size: 10px;
line-height: 20px;
padding: 8px;
display: inline-block;
max-width: 400px;
z-index: 11000;
/*position: absolute;*/
color: #5a5a5a;
background-color: #FFF;
border: 1px solid lightgrey;
word-wrap: break-word;
opacity: 100;

}

div.tooltip {
    background: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    border: solid orange;
    position: absolute;
    max-width: 8em;
    text-align:center;
}

/*.x_axis_diagonal_labels:hover{
    fill: orange;
}
*/
/* http://bl.ocks.org/ZJONSSON/3918369 */
.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}
